<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRVEL  - 우리들의 여행::메인페이지</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <!-- JS -->
    <link rel="stylesheet" href="/js/????.js">
</head>
<body>
    <div id="wrap">
      <main>
        <h1 class="main-logo">TRVEL</h1>
        <div class="home-btn">
          <a href="home.html" class="home"><p>시작하기</p></a>
        </div>
        <div class="login-search">
          <a href="#">아이디 찾기</a>
          <a href="#">비밀번호 찾기</a>
          <a href="#">회원가입</a>
        </div>
        <div class="login">
          <div class="kakao sns">
            <a href="#">
              <p><img src="/img/sns-naver.png" alt="카카오로그인">카카오 로그인ASDASD</p>
            </a>
          </div>
          <div class="naver sns">
            <a href="#">
              <p><img src="/img/sns-naver.png" alt="카카오로그인">네이버 로그인</p>
            </a>
          </div>
          <div class="email sns">
            <a href="#">
              <p><img src="/img/sns-naver.png" alt="카카오로그인">이메일 로그인</p>
            </a>
          </div>
        </div>
      </main>
    </div>
</body>
</html>